:host {
    min-height: 68px;
    display: block;
}
@media (min-width: 768px) {
    .panel {
        width: 300px !important;
    }
}
.panel {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
}
.panel.open {
    display: block;
}
.panel:not(.open) {
    display: none;
}