<div class="header col-12 p-2">
    <button class="btn p-1 pb-0" (click)="openMenu()">
        <mat-icon *ngIf="!flagMenu" class="text-white fs-1 w-100 h-50">menu</mat-icon>
        <mat-icon *ngIf="flagMenu" class="text-white fs-1 w-100 h-50">close</mat-icon>
    </button>
    <div #panel class="panel pt-4 px-3">
        <!-- Bouton Accueil -->
        <a class="btn btn-outline-light w-100 py-3" routerLink="/" (click)="openMenu()">
            <mat-icon class="align-text-bottom me-2">home</mat-icon>Accueil
        </a>
        <hr class="text-white">

        <!-- Bouton Décodeur -->
        <a class="btn btn-outline-light w-100 py-3" routerLink="/decodeur" (click)="openMenu()">
            <mat-icon class="align-text-bottom me-2">translate</mat-icon>Décodeur
        </a>
        <hr class="text-white">

        <!-- Bouton Compte -->
        <a class="btn btn-outline-light w-100 py-3" routerLink="/compte" (click)="openMenu()">
            <mat-icon class="align-text-bottom me-2">account_balance_wallet</mat-icon>Compte
        </a>
        <hr class="text-white">

        <!-- Bouton Boutique -->
        <a class="btn btn-outline-light w-100 py-3" routerLink="/boutique" (click)="openMenu()">
            <mat-icon class="align-text-bottom me-2">store</mat-icon>Boutique
        </a>
        <hr class="text-white">

        <!-- Bouton Connexion (affiché si l'utilisateur est déconnecté) -->
        <a *ngIf="!isLoggedIn" class="btn btn-outline-light w-100 py-3" routerLink="/login" (click)="openMenu()">
            <mat-icon class="align-text-bottom me-2">login</mat-icon>Connexion
        </a>
        <hr class="text-white" *ngIf="!isLoggedIn">

        <!-- Bouton Déconnexion (affiché si l'utilisateur est connecté) -->
        <button *ngIf="isLoggedIn" class="btn btn-outline-light w-100 py-3" (click)="logout()">
            <mat-icon class="align-text-bottom me-2">logout</mat-icon>Déconnexion
        </button>
        <hr class="text-white" *ngIf="isLoggedIn">
    </div>
</div>
