@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes spawn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {  
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.bloc {
    animation: spawn 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}