<div class="main mb-md-3 row mx-auto">
    <div class="bg-main-secondary h-100 row mx-auto text-white rounded-2 shadow mt-10 col-md-8 col-12 py-4">
        <div class="col-12 row pb-3 mx-auto">
            <div class="col-3 text-center align-self-center">
                <mat-icon class="fs-1 w-100 h-100">account_balance_wallet</mat-icon>
            </div>
            <h1 class="col-6 text-center title">Compte</h1>
            <div class="col-3 text-center align-self-center">
                <mat-icon class="fs-1 w-100 h-100">local_mall</mat-icon>
            </div>
        </div>
        <!-- Player -->
        <div class="sous-menu col-md-6 col-12 ps-md-0 mb-4 mb-md-0">
            <div class="bg-white h-100 text-dark rounded-2 shadow px-3 overflow-auto scroll-bar">
                <div class="row align-items-center pt-2 mb-2">
                    <div class="col-6 text-center">
                        <mat-icon class="logo-profil h-100 w-100">account_circle</mat-icon>
                    </div>
                    <div class="col-6">
                        <h2 class="mb-0">{{ playerName }}<span class="align-top fs-6 ms-1 fst-italic">{{ playerPseudo }}</span></h2>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex justify-content-between">
                        <mat-icon>stars</mat-icon>
                        <p class="mb-0">XP : {{ playerXP }}</p>
                    </div>
                    <div class="progress mt-2 bg-dark">
                        <div class="progress-bar bg-info" role="progressbar" [style.width]="playerXP + '%'" [attr.aria-valuenow]="playerXP" aria-valuemin="0" aria-valuemax="100">
                            {{ playerXP }}%
                        </div>
                    </div>
                </div>

                <!-- Section avec fond pour Likes/Dislikes -->
                <div class="p-3 mb-2 rounded bg-gradient bg-info text-dark shadow-sm">
                    <div class="row my-4">
                        <div class="col-6 text-center">
                            <mat-icon class="text-success">thumb_up</mat-icon> {{ playerLikes }} Likes
                        </div>
                        <div class="col-6 text-center">
                            <mat-icon class="text-danger">thumb_down</mat-icon> {{ playerDislikes }} Dislikes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Inventaire -->
        <div class="sous-menu col-md-6 col-12 pe-md-0">
            <div class="bg-white h-100 text-dark rounded-2 shadow py-2 px-3 row mx-auto overflow-auto scroll-bar">
                <div *ngFor="let i of [].constructor(50); let index = index;" class="col-4 px-1 my-1">
                    <div class="inventaire-case">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
