<div class="container d-flex justify-content-center align-items-center loginForm">
  <div class="auth-container col-12 col-sm-8 col-md-6 col-lg-5 p-4 bg-white rounded border border-light shadow">
    <h2 class="mb-4">Connexion</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <!-- Champ Nom d'utilisateur -->
      <div class="form-group mb-3">
        <label for="username" class="mb-1">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" #usernameControl="ngModel" required class="form-control" />
        <div *ngIf="loginForm.submitted && usernameControl.errors?.['required']" class="error-message text-danger">
          Veuillez entrer votre nom d'utilisateur.
        </div>
      </div>

      <!-- Champ Mot de passe -->
      <div class="form-group mb-3">
        <label for="password" class="mb-1">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" #passwordControl="ngModel" required minlength="6" class="form-control" />
        <div *ngIf="passwordControl.dirty && password.length < 6" class="error-message text-danger mt-2">
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
      </div>

      <!-- Option Se souvenir de moi -->
      <div class="form-group mb-3">
        <label><input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" /> Se souvenir de moi</label>
      </div>

      <!-- Bouton de soumission -->
      <button type="submit" class="btn btn-success w-100" [disabled]="loginForm.invalid">Connexion</button>
    </form>
  </div>
</div>
