<div class="main mb-4 row mx-auto">
    <div class="bg-main-secondary rounded-2 mt-10 col-md-8 mx-md-auto col-12">
        <div class="row text-white py-3">
            <div class="col-3 text-center">
                <mat-icon class="fs-1 w-100 h-100">store</mat-icon>
            </div>
            <h1 class="col-6 text-center">Boutique</h1>
            <div class="col-3 text-center">
                <mat-icon class="fs-1 w-100 h-100">shopping_cart</mat-icon>
            </div>
        </div>

        <!-- Boutons Like et Dislike avec espacement amélioré -->
        <div class="d-flex justify-content-center mt-4">
            <button (click)="showGifts()" class="btn btn-outline-light me-4">
                <mat-icon>thumb_up</mat-icon> Cadeaux
            </button>
            <button (click)="showTraps()" class="btn btn-danger ms-4">
                <mat-icon>thumb_down</mat-icon> Pièges
            </button>
        </div>

        <!-- Liste des Cadeaux ou Pièges -->
        <div *ngIf="showList" class="mt-4">
            <h3>{{ listTitle }}</h3>
            <ul>
                <li *ngFor="let item of currentList">{{ item.name }} - {{ item.description }}</li>
            </ul>
        </div>
    </div>
</div>
