
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$FRONT-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($FRONT-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($FRONT-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($FRONT-theme);
@import url(assets/scss/animation.scss);

/* Variables */
$main-bg: #020B10;
$main-bg-primary: #181A1B;
$main-bg-secondary: #018060;
$scroll-bar-color: $main-bg-secondary;

html, .main {
    background-color: $main-bg;
}
.loginForm, .main {
    min-height: calc(100vh - 62px);
}
.main {
    background-image: url('assets/img/bg.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: $main-bg-secondary;
    position: fixed;
    z-index: 100;
    height: 62px;
}
.main .bloc {
    background-color: $main-bg-secondary;
    border-radius: 8px;
}
.mt-10 {
    margin-top: 150px !important;
}
.bg-main-secondary {
    background-color: $main-bg-secondary;
}
.header .panel {
    background-color: $main-bg-secondary;
}
@-moz-document url-prefix() {
    .scroll-bar {
        scrollbar-width: thin;
        scrollbar-color: $scroll-bar-color transparent;
    }
}
.scroll-bar {
    overflow-y: scroll;
}
.scroll-bar::-webkit-scrollbar {
    background-color: transparent;
}
.scroll-bar::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
}
.logo-profil {
    font-size: 5rem;
}

.item-img {
    width: 250px;
    height: 250px;
    object-fit: initial;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
