$main-bg-primary: #181A1B;
$main-bg-secondary: #018060;

.main {
    background-color: $main-bg-primary;
    height: 100vh;
}
.header {
    background-color: $main-bg-secondary;
    position: fixed;
    height: 68px;
}
.header .panel {
    background-color: $main-bg-secondary;
}

/* Variables */
$primary-color: #4CAF50;
$primary-hover-color: #45a049;
$secondary-color: #f9f9f9;
$text-color-dark: #333;
$text-color-light: #555;
$error-color: red;
$success-color: green;
$input-border-color: #ccc;


$container-padding: 50px;
$primary-color: #4CAF50;
$secondary-color: #45a049;


